*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    cursor: default;
}



#cabecalho{
    width: 100%;
    background-color: rgb(51, 51, 51);
    height: 60px;
    border-bottom: 3px solid rgb(103, 103, 103);
}

#menu{
    letter-spacing: 1px;
    color: white;
    display: flex;
    justify-content: start;
    line-height: 57px;
    /* margin-right: 50px; */
    
}

.menuobj{
    font-family: 'Lato', sans-serif;
    padding-left: 60px;
    padding-right: 60px;
    transition: 0.1s;
    cursor: pointer;
    font-size: 15px;
}

#exobj{
    padding-left: 60;
}

.menuobj:hover{
    border-bottom: 4px solid rgb(239, 187, 64);
    color: rgb(239, 187, 64);
}
/* --------------------- FIM DO CABEÇALHO --------------------- */

#subcontent{
    width: 100%;
    background-color: rgb(86, 119, 135);
    border-bottom: 8px solid rgb(168,189,222);
    overflow: hidden;
}

#subcontentinv{
    width: 1100px;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

#foto{
    margin-bottom: 50px;
    width: 250px;
}

#ofoto{
    border-radius: 15px;
    box-shadow: 4px 5px #333;
}

#conttext{
    color: rgb(247, 247, 247);
    margin-left: 50px;
    margin-top: 15px;
}

#text1{

    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#textname{
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#text3{
    word-wrap: break-word;
    width: 800px;
    font-weight: 500;
    font-size: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#btncontrato{
    margin-top: 20px;
    width: 140px;
    height: 40px;
    background-color: rgb(69,95,108);
    line-height: 37px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s;

}

#btncontrato:hover{
    background-color: rgb(36,51,57);
}

/* --------------------- FIM DO SUB CONTENT --------------------- */

#overview{
    background-color: rgb(247,248,250); /*rgb(247,248,250);*/
    overflow: hidden;
}

#OVinv{
    width: 1100px;
    margin: auto;
}

#OVtitle{
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(67, 78, 94);
}

#OVtext{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 600px;
    margin: auto;
    font-size: 15px;
    color: rgb(88,103,124);
    font-weight: 400
}

.contentlings{
    margin-top: 50px;
}

.linhalings{
    display: flex;
    flex-flow: row nowrap;
}


.textlings{
    font-size: 15px;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
}


.butlings{
    background-color: rgb(86, 119, 135);
    width: 100%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: 1s;
}

.butlings:hover{
    background-color: rgb(136,165,179);
}

.listalings{
    text-align: center;
}





