*{
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, sans-serif;
    transition: 0.2s;
}

#title{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#title a{
    font-size: 12px !important;
}

#buttons-area{
    width: 70%;
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#buttons-area button{
    margin-bottom: 20px;
}

.default-form{
    width: 70%;
    margin: 30px auto 30px auto;
}

#editar{
    display: none;
}

#criar{
    display: none;
}

#excluir{
    display: none;
}

#ver{
    display: none;
}

.default-btn-submit{
    width: 100%;
    height: 50px;
    font-weight: bold;
}

#forms-att-area{
    width: 70%;
    margin: auto;
    display: none;
}

#buttons-att-area{
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#buttons-att-area button{
    margin-right: 20px;
    margin-bottom: 10px;
}

.time-date-area{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.time-date{
    width: 40%;
    margin-right: 20px;
}

#form-att-criar{
    display: none;
}

#form-att-editar{
    display: none;
}

#form-att-excluir{
    display: none;
}

@media screen and (max-width: 567px){
    #buttons-area{
        width: 95%;
    }

    .default-form{
        width: 95%;
    }

    #forms-att-area{
        width: 95%;
    }
}

@media screen and (max-width: 385px){
    #title{
        font-size: 22px;
    }

    #buttons-area{
        flex-direction: column;
    }

    #buttons-area button{
        height: 40px;
    }

    #buttons-att-area{
        justify-content: center;
        width: 100%;
    }

    #buttons-att-area button{
        width: 100%;
        margin: 0px 0px 10px 0px !important;
    }

    .default-form{
        width: 95%;
    }
}