*{
    padding: 0px;
    margin: 0px;
    transition: 0.3s;
}

body{
    background-color: #100E17;
    font-family: "Roboto", sans-serif;
}

a:link {
    color: inherit;
    text-decoration: none;
 }
 
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
    text-decoration: none;
}

#header{
    width: 100%;
    position: fixed;
    background-color: #100E17;
}

#header-wrap{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 30px 0px;
}

#menu-area{
    font-size: 25px;
    color: #E7E7E8;
}

#logo{
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(124deg, rgba(31,136,221,1) 18%, rgba(31,115,221,1) 74%);
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-header-item{
    cursor: pointer;
    margin-left: 25px;
    width: fit-content;
    transition: 0.3s;
}

.menu-header-item:hover{
    color: #1F88DD;
}


/* ============================================================================================================================= */

#s_home{
    padding: 150px 8px;
}

.content-wrapper{
    width: 60%;
    margin: auto;
}

#box-subheader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0px;
    align-items: center;
}

#name-subheader{
    color: #E7E7E8;
    font-size: 60px;
    font-weight: 600;
    line-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#profession{
    color: #E7E7E8;
    font-size: 26px;
}

#subheader-contacts{
    margin-top: 20px;
}

#text-subheader{
    color: #E7E7E8;
    width: 90%;
    margin: 30px 0px;
}

.row-contact span{
    color: #E7E7E8;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

.row-contact i{
    font-size: 14px;
    color: #E7E7E8;
}

#box-img{
    border: 50px solid rgba(0,0,0,0.17);
    border-radius: 100%;
}

#box-img img{
    height: 400px;
    border-radius: 100%;
}

#social-medias-wrapper{
    color: #E7E7E8;
    margin-top: 20px;
}

#social-medias-wrapper i{
    font-size: 18px;
    padding: 4px 14px;
    transition: 0.3s;
    border-radius: 3px;
}

#social-medias-wrapper i:hover{
    background-color: #E7E7E8;
    color: #1F88DD;
}

#s_about_me{
    padding: 200px 0px ;
}

.content-wrapper.about-me{
    width: 70%;
}

#box-am{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#box-img-am img{
    height: 400px;
}

#box-text-am{
    width: 50%;
}

#box-text-am h2{
    color: #E7E7E8;
}

#text-am{
    color: #E7E7E8;
    margin-top: 20px;
}

#tags-am{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
}

.tags{
    padding: 3px 10px 3px 10px;
    border: #1F88DD 2px solid;
    border-radius: 6px;
    width: fit-content;
    color: #E7E7E8;
    margin-right: 10px;
    margin-bottom: 10px;
}

#download-cv-btn{
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 20px;
    outline: none;
    background: linear-gradient(152deg, rgba(111,0,184,1) 30%, rgba(8,0,142,1) 87%);
    transition: 0.3s;
}

#download-cv-btn i{
    margin-left: 20px;
}

/* ============================================================================================================================= */

#s_projects{
    padding: 200px 8px;
}

.content-wrapper h3{
    width: 100%;
    text-align: center;
    color: #E7E7E8;
    margin-bottom: 60px;
}

.box-projects{
    background-color: #1E1E24;
    padding: 30px;
    box-shadow: -1rem 0 3rem #000;
    margin-bottom: 30px;
    border-radius: 5px;
}

.box-projects h4{
    color: #1F88DD;
    margin-bottom: 10px;
}

.box-projects p{
    color: #E7E7E8;
}

.tags-area{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btns-area-project{
    margin-top: 20px;
}

.btns-project{
    width: fit-content;
    padding: 5px 20px;
    border:none;
    border-radius: 8px;
    background-color: #1F88DD;
    color: white;
}

/* ============================================================================================================================= */

#s_contact{
    padding: 200px 8px;
}

#contact-boxes-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.box-contact{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #1E1E24;
    padding: 40px 0px;
    box-shadow: -1rem 0 3rem #000;
}

.icon-area-bc{
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.icon-area-bc i{
    padding: 40px;
    border: 1px solid #1F88DD;
    border-radius: 100%;
    color: white;
    font-size: 25px;
}

.info-area-bc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #E7E7E8;
    margin: 10px 0px;
}

.info-area-bc h4{
    height: inherit;
    margin: 0px 0px 20px 0px;
}

.info-area-bc span{
    font-size: 14px;
}

.info-area-bc p{
    font-size: 14px;
}

#area-form-map{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

#map-area{
    width: 49%;
}

#map-area iframe{
    width: 100%;
}

#enviar-email{
    width: 49%;
    display: flex;
    flex-direction: column;
}

#form-name-area{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.default-input.name{
    width: 49%;
}

.default-input{
    color: white;
    background-color: inherit;
    border: 2px solid #E7E7E8;
    padding: 8px 0px 8px 5px;
}

.default-input::placeholder{
    color: white;
}

.default-input:focus{
    outline: none;
    border: 2px solid #1F88DD;
}

.default-input.txt{
    padding: 10px 10px;
    height: 50%;
}

.error-msg{
    color: red;
    margin-bottom: 10px;
    height: 20px;
}

#btn-submit{
    width: 100%;
    height: 40px;
    background-color: #1F88DD;
    border: none;
    border-radius: 10px;
    color: white;
}

.error-input{
    border: 2px solid red !important;
}
