*{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #100E17;
}

header{
    width: 100%;
    background-color: #212125;
}

a:link {
    color: inherit;
    text-decoration: none;
 }
 
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
    text-decoration: none;
}

.wrapper-content{
    width: 70%;
    margin: auto;
}

.gs-wrapper{
    background-color: #212125;
    padding: 20px 30px;
    border-radius: 5px; 
    height: 100px;
    width: 100%;
}

.grid-principal{
    width: 65%;
}

.grid-secondary{
    width: 30%;
}

.wrapper-content.header{
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#btn-voltar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    background-color: #343436;
    padding: 0px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    height: 100%;
}

#btn-voltar:hover{
    background-color: #49494b;
}

#btn-voltar i{
    font-size: 32px;
    color: #E7E7E8;
}

#logo-area{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo{
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(124deg, rgba(31,136,221,1) 18%, rgba(31,115,221,1) 74%);
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#session-logo{
    font-size: 12px;
    height: fit-content;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(152deg, rgba(235,152,2,1) 40%, rgba(255,185,60,1) 72%);
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: default;
}

nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-end;
}

.nav-items{
    margin-left: 20px;
    height: 100%;
    text-align: ;
    color: #E7E7E8 !important;
    font-size: 25px;
    transition: 0.3s;
    padding-top: 6px;
}

.nav-items:hover{
    color: #eb9802 !important;
}

#s_sobre{
    padding: 50px 0px;
}

.wrapper-content.sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.box-title{
    color: #E7E7E8;
}

#tec-area{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#tec-area span{
    color: #eb9802;
    margin-right: 6px;
    font-size: 13px;
}

.default-subtitle{
    font-size: 22px;
    color: #eb9802;
}





.principal-title{
    color: #eb9802;
    font-size: 50px;
    margin-bottom: 80px;
}

#text-area{
    width: 100%;
}

.default-paragraph{
    color: #E7E7E8;
    font-size: 14px;
    font-weight: 500;
}


.wrapper-content.fotos{
    background-color: #212125;
    padding: 20px 30px;
    box-shadow: -1rem 0 2rem #000;
    border-radius: 5px; 
}

.img img{
    height: 400px;
}